<aside id="image-container">
    <img src="assets/images/SantaPointing2.gif" alt="Santa Pointing" />
</aside>

<section id="form-container">
    @if (loading$ | async) {
        <div class="loading">Sending message...</div>
    }
    @if (error$ | async) {
        <div class="error">{{ error$ | async }}</div>
    }
    @if (success) {
        <div class="success">{{ success }}</div>
    }

    <form #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm)">
        <fieldset>
            <legend>&nbsp;Send message to:&nbsp;</legend>
            <input type="radio" name="to" value="SANTA" [(ngModel)]="emailRequest.addressee" /> My
            Secret Santa&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="to" value="RECIPIENT" [(ngModel)]="emailRequest.addressee" />
            My Recipient <br />
        </fieldset>

        Please enter your message below:
        <br />
        <textarea
            #messageField="ngModel"
            id="message"
            name="message"
            [(ngModel)]="emailRequest.message"
            rows="3"
            cols="40"
            maxlength="250"
            required
        ></textarea>
        @if (messageField.invalid && (messageField.dirty || messageField.touched)) {
            <div>
                @if (messageField.errors?.["required"]) {
                    <small>Message is required.</small>
                }
            </div>
        }
        <br />

        <button type="submit" [disabled]="emailForm.invalid">Send Message</button>
    </form>

    <a class="button" routerLink="/home">Back to Santa Home</a>
</section>
