<aside id="image-container">
    <img src="/assets/images/SantaRunning2.gif" alt="Santa Running" />
</aside>

<section id="form-container">
    @if (loading$ | async) {
        <div class="loading">Checking the list...</div>
    }
    @if (error$ | async) {
        <div class="error">{{ error$ | async }}</div>
    }

    @if (pickers && !(loading$ | async)) {
        <div class="success">
            <table>
                <caption>
                    Secret Santa Pick Status
                </caption>
                @for (picker of pickers; track picker.userName) {
                    <tr>
                        <td>
                            {{ picker.userName }}
                        </td>
                        <td>
                            <input
                                type="checkbox"
                                [checked]="picker.viewed"
                                onclick="this.checked = true"
                            />
                        </td>
                    </tr>
                }
            </table>
        </div>
    }

    <a class="button" routerLink="/home">Back to Santa Home</a>
</section>
