<aside id="image-container">
    <img src="/assets/images/SantaRunning2.gif" alt="Santa Running" />
</aside>

<section id="form-container">
    <div *ngIf="loading$ | async" class="loading">Checking the list...</div>
    <div *ngIf="error$ | async" class="error">{{ error$ | async }}</div>

    <div *ngIf="pickers && !(loading$ | async)" class="success">
        <table>
            <caption>
                Secret Santa Pick Status
            </caption>
            <tr *ngFor="let picker of pickers">
                <td>
                    {{ picker.userName }}
                </td>
                <td>
                    <input
                        type="checkbox"
                        [checked]="picker.viewed"
                        onclick="this.checked = true"
                    />
                </td>
            </tr>
        </table>
    </div>

    <a class="button" routerLink="/home">Back to Santa Home</a>
</section>
