<p-toast position="top-center" />

<aside id="image-container">
    <img src="/assets/images/SantaLaughing2.gif" alt="Santa Laughing" />
</aside>

<section id="form-container">
    @if (loading$ | async) {
        <div class="loading">Checking the list...</div>

    } @else {
        <table class="bodytable">
            <caption>
                Ideas for My Santa
            </caption>
            @for (gift of gifts; track gift.id) {
                <tr>
                    <td width="100%">
                        <div class="wrap-all">{{ gift.description }}</div>
                        <br /><br />
                        <a href="{{ gift.link }}" target="_blank">Link</a>
                    </td>
                    <td>
                        <a class="button" routerLink="/gift-detail/{{ gift.id }}">Change</a>
                        <form>
                            <button (click)="deleteGift(gift.id)" type="button">Remove</button>
                        </form>
                    </td>
                </tr>
            } @empty {
                <tr>
                    <td class="align-center">No suggestions have been made yet.</td>
                </tr>
            }
        </table>
        <a class="button" routerLink="/gift">Add An Idea </a>
    }

    <a class="button" routerLink="/home">Back to Santa Home</a>
</section>
