<aside id="image-container">
    <img src="/assets/images/SantaPointing2.gif" alt="Santa" />
</aside>

<section id="form-container">
    @if (true) {
        <div>
            <h1>You're {{ recipient?.recipient }}'s Secret Santa!</h1>
            <a class="button" routerLink="/ideas">See Ideas from {{ recipient?.recipient }}</a>
            <a class="button" routerLink="/gift-summary">Give My Secret Santa Some Ideas</a>
            <a class="button" routerLink="/email">Send a Message</a>
            <a class="button" routerLink="/pick-status">See Who's Picked a Recipient</a>
            <a class="button" routerLink="/history">See Ghosts of Christmas Past</a>
            <a class="button" routerLink="/logout">Log Out</a>
            <br />
            <strong>Only xx days 'til Santa comes!</strong>
        </div>
    }
    @if (false) {
        <div>
            <br />
            <h1>You haven't chosen a recipient yet!</h1>
            <br />
            <form>
                <button class="button" formaction="/pick" formmethod="post">
                    Choose a recipient
                </button>
            </form>
        </div>
    }

    <!--<seauthorize access="hasAnyRole('ADMIN')">-->
    <a class="button" routerLink="/admin">Santa Admin</a>
    <!--</seauthorize>-->
</section>
