/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffdf;
  color: #7f2b00;
  border-top: 5px solid #7f2b00;
}
button, .button {
    transition: all .4s ease;
    border: #7f2b00 1px solid;
    font-weight: 700;
    color: #7f2b00;
    background-color: #ffffdf;
    padding: 8px 10px;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0 10px 0;
    display: block;
    font-size: 14px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}
button:hover, .button:hover {
    cursor: pointer;
    text-shadow: none;
    color: #ffffff;
    background-color: #7f2b00;
    text-decoration: none;
    opacity: 1;
}
button:focus, .button:hover {
    outline: 0;
}