<aside id="image-container">
    <img border="0" src="/assets/images/SantaPresents2.gif" alt="Santa with Presents" />
</aside>

<section id="form-container">
    <div *ngIf="error" class="error">{{ error }}</div>

    <form id="mainForm" *ngIf="!(yearsLoading$ | async)">
        Choose a year:
        <select
            name="selectedYear"
            id="selectedYear"
            [(ngModel)]="selectedYear"
            (ngModelChange)="onYearChange($event)"
        >
            <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
        </select>
    </form>

    <div *ngIf="loading$ | async" class="loading">Checking the archives...</div>

    <div *ngIf="!(recipientsLoading$ | async) && !error" class="success">
        <table>
            <caption>
                <b>{{ selectedYear }}</b>
            </caption>
            <tr>
                <th>Santa</th>
                <th>Recipient</th>
            </tr>

            <tr *ngFor="let recipient of recipients">
                <td>{{ recipient.userName }}</td>
                <td>{{ recipient.recipient }}</td>
            </tr>
        </table>

        <a routerLink="/home" class="button">Back to Santa Home</a>
    </div>
</section>
